* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( 109.6deg,  rgba(0,191,165,1) 11.2%, rgba(0,140,122,1) 100.2% );    
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.2rem;
    padding-top: 4rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    cursor: pointer;
    color: #1EAE98;
    background: white;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background: #1EAE98;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo-item {
    flex: 1;
    padding: 0rem 0.5rem;
}

.trash-btn, .complete-btn {
    background: #F05945;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #1EAE98;
}

.fa-check, .fa-trash {
    pointer-events: none;
}

.completed {
    opacity: 0.5;
    text-decoration: line-through;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: nono;
    outline: none;
    border: none;
    color: #1EAE98;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    background: #1EAE98;
    padding: 0.8rem 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after {
    background: #fff;
    color: #1EAE98;
}

::selection {
    background: #fff;
    color: #1EAE98;
}